
.imageTitreAepf {z-index: 121;}
.body-initial {background-color: rgba(255,255,255,1); position: static; background-image: url(../assets/background.png); background-attachment: fixed; background-size: cover;}.silex-id-1478366444112-1 {background-color: transparent; position: static; margin-top: -1px;}.silex-id-1478366444112-0 {background-color: transparent; min-height: 78px; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1474394621033-3 {position: static; margin-top: -1px; background-color: transparent;}.silex-id-1474394621032-2 {background-color: transparent; min-height: 626.9749755859375px; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1707121260734-0 {width: 1106.16259765625px; min-height: 92px; background-color: rgba(154,141,141,1); position: absolute; top: -36px; left: 42px; border-radius: 0 0 40px 40px;}.silex-id-1707121327194-1 {width: 411px; min-height: 84px; position: absolute; top: 31px; left: 348px;}.silex-id-1707121403856-2 {width: 229px; min-height: 24px; background-color: rgb(255, 255, 255); position: absolute; top: 49px; left: 839px;}.silex-id-1707121600916-5 {width: 560px; min-height: 180px; top: 808px; left: 18px; margin-left: 30px;}.silex-id-1707122122711-6 {position: static;}.silex-id-1707122122712-7 {min-height: 540.3749694824219px; background-color: transparent; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1707122169505-8 {width: 316px; min-height: 146px; position: absolute; top: 469px; left: 446px;}.silex-id-1707122344866-9 {width: 266px; min-height: 235px; position: absolute; top: 69px; left: 968px;}.silex-id-1707122384452-10 {width: 622px; min-height: 296px; position: absolute; top: 136px; left: 560px;}.silex-id-1707122865603-13 {position: static;}.silex-id-1707122865604-14 {min-height: 428.1249694824219px; background-color: transparent; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1707122878476-15 {width: 723px; min-height: 235px; position: absolute; top: 12px; left: 9px;}.silex-id-1707122912360-16 {width: 1123.800048828125px; min-height: 88px; position: absolute; top: 89px; left: 12px;}.silex-id-1707123076073-20 {width: 1131px; min-height: 199px; background-color: rgba(154,141,141,1); position: absolute; top: 63px; left: 30px; border-radius: 40px 40px 0 0;}.silex-id-1707123086010-26 {position: static; background-color: transparent;}.silex-id-1707123086011-27 {min-height: 258.96250915527344px; background-color: transparent; position: relative; margin-left: auto; margin-right: auto;}.silex-id-1707123198465-28 {width: 214px; min-height: 80.4000015258789px; position: absolute; top: -10px; left: 34px;}.silex-id-1707123312501-29 {width: 178px; min-height: 64px; position: absolute; top: 55px; left: 68.93759799003601px;}.silex-id-1707123416621-31 {width: 178px; min-height: 64px; position: absolute; top: 101px; left: 68px;}.silex-id-1707123420461-33 {width: 419px; min-height: 64px; position: absolute; top: 145px; left: 69.01205611228943px;}.silex-id-1707127227804-1 {width: 62px; min-height: 58px; background-color: transparent; position: absolute; top: 30px; left: 21px;}.silex-id-1707144188251-0 {width: 416px; height: 212px; top: -172px; left: 20px;}.silex-id-1707144220528-1 {width: 410px; height: 397px; position: absolute; top: 72px; left: 740px;}.silex-id-1707144274708-2 {width: 506px; height: 493px; position: absolute; top: 17px; left: 2px;}.silex-id-1707144341803-3 {width: 372px; height: 231px; position: absolute; top: 177.45008850097656px; left: 13px;}.silex-id-1707144363322-5 {width: 373px; height: 233px; position: absolute; top: 177px; left: 417px;}.silex-id-1707144376901-6 {width: 370px; height: 229px; position: absolute; top: 177.61376953125px; left: 820.8000183105469px;}.silex-id-1707144401955-7 {width: 39px; height: 137px; position: absolute; top: 50px; left: 12px;}@media only screen and (max-width: 480px) {.silex-id-1474394621032-2 {min-height: 487.9374694824219px;}.silex-id-1707121260734-0 {min-height: 84.80000305175781px; top: 0px; left: 0px; width: 462px;}.silex-id-1707121327194-1 {top: -67px; left: 5px; min-height: 63px; width: 411px;}.silex-id-1707121403856-2 {min-height: 26.399999618530273px; top: 0px; left: 0px; width: 224px; background-color: transparent;}.silex-id-1707121600916-5 {min-height: 137px; top: -47px; left: 1px; width: 425px;}.silex-id-1707122122712-7 {min-height: 691px;}.silex-id-1707122169505-8 {min-height: 100.625px; top: 0px; left: 0px; width: 316px;}.silex-id-1707122344866-9 {min-height: 100px; top: 0px; left: 0px; width: 266px;}.silex-id-1707122384452-10 {min-height: 155.40000915527344px; top: 0px; left: 0px; width: 417px;}.silex-id-1707122878476-15 {min-height: 100px; top: 0px; left: 0px; width: 462px;}.silex-id-1707122912360-16 {min-height: 122px; top: 2px; left: 0px; width: 347px;}.silex-id-1707123076073-20 {min-height: 165.18748474121094px; top: 143.81251525878906px; left: 0px; width: 462px;}.silex-id-1707123198465-28 {min-height: 51px; top: 0px; left: 0px; width: 214px;}.silex-id-1707123416621-31 {min-height: 64px; top: -93px; left: -12px; width: 178px;}.silex-id-1707123420461-33 {min-height: 48px; top: 54px; left: -5px; width: 336px;}.silex-id-1707127227804-1 {min-height: 58px; top: 106px; left: -28px; width: 62px;}}
.website-width {width: 1200px;}@media (min-width: 481px) {.silex-editor {min-width: 1400px;}}
h1 {font-family: "Shrikhand", serif; font-style: normal; font-weight: normal; font-size: 24px;}h2 {font-size: 35px;}.text-element > .silex-element-content {font-family: "Bungee Shade", sans-serif; font-style: italic; color: #FFFF; text-align: left;}p {font-family: 'Roboto', sans-serif; font-style: normal; font-weight: 100; font-size: 20px; text-align: left; letter-spacing: 1.5px;}@media only screen and (max-width: 480px) {h1 {font-size: 23px; text-align: center;}h2 {font-size: 24px; text-align: center;}p {font-size: 15px; text-align: left;}}
.style-paragraphehome h1 {font-weight: 900; line-height: 9;}.style-paragraphehome.text-element > .silex-element-content {font-style: normal; font-size: 20px;}.style-paragraphehome p {font-family: 'Roboto', sans-serif; font-weight: normal; line-height: 1.5;}@media only screen and (max-width: 480px) {.style-paragraphehome p {font-size: 15px;}}
.style-paragraphedrane h2 {font-size: 20px;}.style-paragraphedrane p {font-family: 'Roboto', sans-serif; font-weight: normal; font-size: 20px; text-align: right; line-height: 1.5;}@media only screen and (max-width: 480px) {.style-paragraphedrane h2 {font-size: 20px;}.style-paragraphedrane p {font-size: 15px;}}
.style-contact p {font-size: 25px;}@media only screen and (max-width: 480px) {.style-contact p {font-size: 16px;}}
.style-liens p {font-size: 15px;}
.style-pourquoi h2 {font-family: "Shrikhand", serif; font-style: normal; font-weight: normal;}@media only screen and (max-width: 480px) {.style-pourquoi h2 {font-size: 30px;}}
.style-drane h2 {font-family: "Shrikhand", serif; font-style: normal; font-weight: 100;}@media only screen and (max-width: 480px) {.style-drane h2 {font-size: 30px;}}

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bungee+Shade&family=Shrikhand&display=swap')
.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}




/* Hamburger */
.hamburger1 {
  height: 35px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: left;
  z-index: 1;
}

.hamburger1 div {
  z-index: 1;
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 4px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
    z-index: 1;

}

#toggle1:checked + .hamburger1 .top {
      z-index: 1;

  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
      z-index: 1;

  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
            z-index: 1;

}

#toggle1:checked ~ .menu1 {
      z-index: 1;

  height: auto;
}


/* Menu */
.menu1 {
  margin-top:-5px;
  width: 100%;
  background-color: rgb(154,141,141);
  margin-left: -10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding-left: 20px;
  list-style: none;
  clear: both;
  width: auto;
  text-align: left;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position:relative;
}



.menu1 a:first-child {
      z-index: 1;

  margin-top: 20px;
}

.menu1 a:last-child {
      z-index: 1;

  margin-bottom: 10px;
}

.link1 {
  z-index: 1;
  width: 100%;
  margin: 0;
  font-family: "Shrikhand", serif;
  font-size:17px;
}

.link1:hover {
  z-index: 1;
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link2 {
  z-index: 1;
  width: 100%;
  margin: 0;
  font-family: "Shrikhand", serif;
  font-size:14px;
  margin-top:-10px;
}

.link2:hover {
  z-index: 1;
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


#mieux, #FAEPF, #activites, #evenement, #demarches, #logement, #plans {
  display: none;
}



body.silex-runtime {opacity: 1;}
